---
- name: Deploy Application
  hosts: app
  tags: deploy-tag
  become: true
  tasks:
    - name: Install dependencies
      apt:
        name: git
        state: present
    - name: Remove bundler from apt
      apt:
        name:
          - bundler
          - ruby-bundler
        state: absent
    - name: Install bundler to the concrete version
      command: bash -lc "gem install bundler -v 1.16.1"
      args:
        creates: /usr/local/bin/bundler
    - name: Fetch the latest version of application code
      git:
        repo: "https://github.com/express42/reddit.git"
        dest: "/home/{{ deploy_user }}/reddit"
        version: monolith
      notify: restart puma
    - name: Bundle install
      bundler:
        state: present
        chdir: "/home/{{ deploy_user }}/reddit"
      notify: restart puma
  handlers:
    - name: restart puma
      systemd: name=puma state=restarted
