- name: Clone repo and install dependencies
  hosts: app
  vars:
    path: /home/ubuntu/reddit
  tasks:
    - name: Clone repo
      git:
        repo: https://github.com/express42/reddit.git
        dest: "{{ path }}"
    - name: Installing gem's
      become: true
      shell:
        cmd: bash -lc "bundler install ; true"
        chdir: "{{ path }}"
